<div class="hero mt-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Javascript Dojo</h1>
      <p class="py-6 text-neutral-content">
        Tempat kamu belajar Javascript dengan menyenangkan dan interaktif
      </p>
      <p class="py-4 text-neutral-content">Estimasi launching : 2079</p>
    </div>
  </div>
</div>
