---
import { Mail } from 'lucide-react'
---

<div class="join">
  <div>
    <label class="input validator join-item">
      <Mail className="text-neutral-content" />
      <input type="email" placeholder="mail@site.com" required />
    </label>
    <div class="validator-hint hidden">Enter valid email address</div>
  </div>
  <button class="btn btn-neutral join-item">Join</button>
</div>
